- content_for :google_candlesticks_scripts do
  = javascript_include_tag "candlesticks.js"
%h5= "Time elapsed: #{@time_elapsed} seconds"
%hr
%h1 WEX Candlesticks
- @pairs.each do |pair|
  %div{:id => "#{pair}_chart_div"}